.banner {
    align-items: center;
    background-color: black;
    display: flex;
    height: 3.75rem;
    justify-content: center;
    padding: 1rem;
    border-bottom: 4px solid #257beb;
}

.logo{
    /* max-height: 100%; */
    /* max-width: 100%; */
    width: 100%;
}

.botoesBanner{
    display: none;
}

.botaoBanner{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0.6rem;
}

.botaoBanner:hover{
    color: #257beb;
    border-color: #257beb;
}

@media screen and (min-width: 768px){
    .logo{
        height: 3rem;
    }
}

@media screen and (min-width: 1024px){

    .banner{
        height: 5rem;
        justify-content: space-between;
        padding: 1rem 10rem;
    }

    .botoesBanner{
        display: flex;
        justify-content: space-between;
        width: 16rem;

    }
}